/* @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto+Slab&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto+Slab&display=swap');


#content{
    width: 1600px;
    margin: 0 auto;
}

.logo{
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

nav a{
    text-align: center;
    color: black ;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    padding: 35px;
}

nav a:hover {
    background-color: #134266 ;
    color: #FCE172;

    }

.home-title {
    color: black;
    font-family: 'Grape Nuts', 'Roboto Slab', serif;
    font-size: 2em;
    margin-top: 10px;

}



body {
    background-color:#79C6D8;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    padding:0 ''


}

h2 {
    margin: 0;
}

header {
background-color: #FCE172;
}



.book  { 
    background-color: #79C6D8;
    color: #FCE172;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: #134266;
    color: #79C6D8;
    text-decoration: none;
    font: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}


.book:hover, .join:hover {
    background-color: #134266;
    color: #FCE172;
    text-decoration: underline;
}


#background {
    background-color: #79C6D8;
}

.msg {
    background-color: #134266;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {

    color: #FCE172;
    font-family: 'Grape Nuts', 'Roboto Slab', serif;
}

.msg p {
    color: azure;
    font-family: 'Roboto Slab', sans-serif, unset;
    font: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #FCE172;
    padding: 15px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

/* footer p a:hover{
    text-decoration: underline;
    color: #856A5D  ;
} */

footer a {
    color: #134266;
    text-decoration: none;
}

footer p a:hover{
    color: #856A5D ;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}


.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
    
}

#background{
    height: 725px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}  

.card-img {
    border: 10px #856A5D;
    
    ;
}

/*
#134266
#FCE172
#79C6D8
#856A5D 
*/